<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

<body>
  <div class="container">
  <h1>Hallo Admin</h1>
  <table class="table">
    <tr>
      <th>Email</th>
      <th>Edit</th>
    </tr>
      <% for (var i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i].email %></td>
          <td><a href="/admin/delete/<%= users[i].id %>">delete</a></td>
        </tr>
      <% } %>
  </table>
  <form action="/logout" method="post">
    <input class="btn btn-danger" type="submit" value="Logout" />
  </form>
  </div>
  <%- include('./partials/footer.ejs'); %>
</body>

</html>
