<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

<body>
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <h1>Welcome Visitor</h1>
    <div class="d-flex gap-1">
      <a href="/login" class="btn btn-success"> Login </a>
      <a href="/register" class="btn btn-success"> Register </a>
    </div>
</div>

  <%- include('./partials/footer.ejs'); %>
</body>

</html>