<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

<body>
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="card">
      <div class="card-body">
        <h1>Login</h1>
        <p>Silahkan login untuk memulai</p>
        <form method="post" action="/login" id="login-form">
          <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input name="username" type="email" class="form-control" id="username" placeholder="Email anda">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password anda">
          </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      </div>
    </div>
    
</div>
  <%- include('./partials/footer.ejs'); %>
</body>

</html>
