<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

<body>
  <div class="container">
  <h1>Hallo Student</h1>
  <form action="/logout" method="post">
    <input class="btn btn-danger" type="submit" value="Logout" />
  </form>
  </div>
  <%- include('./partials/footer.ejs'); %>
</body>

</html>
